body{
    /* background-color: #000000; */
}

@media screen and (min-width:20em){
    .top-bar{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
        background-color: tomato;

    }
}

@media screen and (min-width:40em){
    .top-bar{
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
        background-color: aqua;

    }
}
@media screen and (min-width:60em){
    .top-bar{
        grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
        background-color: lightcoral;

    }
}H