body{
    /* background-color: #fafafa; */
}

@media screen and (min-width:20em){
    .top-bar{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
        background-color: tomato;

    }
}

@media screen and (min-width:40em){
    .top-bar{
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
        background-color: aqua;

    }
}
@media screen and (min-width:60em){
    .top-bar{
        grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
        background-color: lightcoral;

    }
}
.middle-main{
    background-color: coral;
}

.img-menu{
    background-color: bisque;
    width: 3em;
    height: 3em;
}

.bottom-bar{
    display: grid;
    grid-template-columns: 1fr 1fr .5fr .5fr .5fr;
}

.bottom{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}


